@import '../variables/variables';
@import '../mixins/mixins';

/*==============================
    Filter area start
===============================*/
#filter{
    padding-top: 20px;
    padding-bottom: 20px;
    background: #fff;

    .filter_item{
        a{
            color: #333;
            font-size: 13px;
            font-weight: 400;
            font-family: var($ff1);

            &:hover{
                opacity: 1;
                color: inherit;
            }
        }

        span{
            i{
                color: #333;
                font-size: 13px;
            }
        }

        span.ak{
            color: #333;
            font-size: 13px;
            font-weight: 400;
            font-family: var($ff1);
        }
    }

    .dokan_filter_button{
        
        button{
            margin-top: 40px;
            padding: 6px 15px;
            background: transparent;
            border-radius: 3px;
            border: 2px solid #336699;
            transition: all linear .3s;
            &:hover{
                background: #336699;
                i{
                    color: #fff;
                }

                span{
                    color: #fff;
                }
            }

            i{
                color: #336699;
                font-weight: 700;              
                transition: all linear .3s;
            }

            span{
                font-size: 16px;
                font-weight: 700;
                color: #336699;
                text-transform: uppercase;
                transition: all linear .3s;
            }
            
        }

        .total{
            padding-left: 15px;
            font-size: 14px;
            font-family: var($ff1);
            color: #222;
        }


    }

    .filter_shortby{
        margin-top: 40px;
        padding: 6px 15px;

        p{
            font-size: 14 px;
            font-family: var($ff1);
            color: #333;
            display: inline;
        }

        select{
            padding: 7px 15px;
            color: #000;
            background: #fff;
            border: 1px solid #c7c7c7;
            border-radius: 3px;
        }

        .baar{
            font-size: 24px;
            color: #000;
            padding-left: 10px;
        }

        .baar2{
            font-size: 24px;
            color: #ada8a8;
            padding-left: 10px;
        }
    }

    .search_bar{
        padding-top: 50px;
        .search{
    
            input{
                width: 100%;
                height: 40px;
                padding-left: 20px;
                &:focus{
                    outline: none;
                }
            }
    
        }

        .apply_btn{
            button{
                padding: 7px 20px;
                text-transform: uppercase;
                font-size: 16px;
                font-weight: 700;
                color: #fff;
                background: #336699;
                border-radius: 3px;
                border: 1px solid #336699;
            }
        }
    }

    .col_ven_1{
        position: relative;
        box-shadow: 0px 0px 7px 0px #ede7e7;
        border-radius: 5px;
        
        &:hover .visit_btn img{
            top: -54px;
        }

        .col_item1{
            position: relative;

            img{
                height: 200px;
            }
    
            &::after{
                position: absolute;
                content: '';
                right: 22px;
                bottom: -45px;
                width: 90px;
                height: 90px;
                background: #ff9742;
                border-radius: 50%;
    
            }
            .col1_cont{
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                padding: 25px 30px;
    
                h2{
                    color: #526b6f;
                    font-size: 20px;
                    font-weight: 700;
                    font-family: var($ff1);
                    margin-bottom: 10px;
                    cursor: pointer;
                    transition: all linear .3s;
    
                    &:hover{
                        color: #f14242;
                    }
                }
    
                span{
                    font-size: 13px;
                    font-family: var($ff1);
                    color: #748082;
                }

                .ratings{
                    color: #1cbcd0;
                    font-size: 12px;
                }
            }

            .col1_cont.drop_cont{
                h2{
                    color: #fff;
                    
                }
    
                p{
                    color: #fff;

                    span{
                        color: #fff;
                    }
                }

            
            }
        }
    
        .visit_btn{
            padding: 22px 20px;
            border-top: 1px solid #ebf1f1;
            position: relative;
    
            a{
                font-size: 14px;
                font-family: var($ff1);
                color: #333;
                font-weight: 600;
                text-transform: uppercase;
                position: relative;
    
                &::after{
                    position: absolute;
                    content: '';
                    width: 100px;
                    height: 2px;
                    background: #000;
                    left: 0;
                    bottom: -3px;
                    visibility: hidden;
                    transform: scale(0);
                    transition: all linear .3s;
                }
    
                &:hover::after{
                    visibility: visible;
                    transform: scale(1);
                }
            }
    
            img{
                border-radius: 50%;
                position: absolute;
                right: 21px;
                top: -46px;
                width: 92px;
                height: 92px;
                transition: all linear .3s;
            }
        }
    }

    .pages{
        padding: 40px 0;

        ul{
            display: flex;
           
            
            li{
                padding: 5px 12px;
                border: 1px solid #d2ddde;
                border-radius: 2px;
                transition: all linear .3s;
                &:hover{
                    background: #cdd3d4;
                }
                
                a{
                    color: #514e4e;
                    
                }
            }
        }
    }
    
}
/*==============================
    Filter area start
===============================*/
