@import '../variables/variables';
@import '../mixins/mixins';

/*===============================
      dokan store area start
===============================*/
#all_categories {
    
    .row{
        .col{
            .filter_item{
                a{
                    font-size: 13px;
                    color: #857e7e;
                    transition: all linear .3s;
                    :hover{
                        color: #000;
                    }
                }
        
                span i{
                    font-size: 13px;
                    color: #857e7e;
                }
        
                .ak{
                    font-size: 13px;
                }
            }
        }
    }


    .row{
        .col-lg-3{
            .all_catagory{
                h3{
                    color: #444;
                    font-size: 18px;
                    font-family: 'Poppins', sans-serif;
                    padding-top: 10px;
                    padding-bottom: 8px;
                    margin-bottom: 12px;
                    margin-top: 20px;
                    border-bottom: 1px solid #dbcdcd;
                    position: relative;

                    &::after {
                        position: absolute;
                        content: "";
                        left: 0;
                        bottom: -2px;
                        width: 127px;
                        height: 2px;
                        background: #000;
                    }
                }

                h4 {
                    a {
                        @include fs($p, 14px, 400, $ff1);
                        margin-bottom: 20px;
                        transition: all linear .3s;
        
                        &:hover {
                            color: #336699;
                        }
                    }
                }
            }

            .contact_vendor{
                h3{
                    color: #444;
                    font-size: 18px;
                    font-family: 'Poppins', sans-serif;
                    padding-top: 10px;
                    padding-bottom: 8px;
                    margin-bottom: 12px;
                    margin-top: 42px;
                    border-bottom: 1px solid #dbcdcd;
                    position: relative;

                    &::after {
                        position: absolute;
                        content: "";
                        left: 0;
                        bottom: -2px;
                        width: 142px;
                        height: 2px;
                        background: #000;
                    }
                }

                input{
                    height: 40px;
                    width: 100%;
                    margin-bottom: 15px;
                    padding-left: 15px;

                    :focus{
                        outline: none;
                    }
                }

                button.send{
                    padding: 12px 25px;
                    background: #333;
                    font-size: 16px;
                    color: #fff;
                    text-transform: uppercase;
                    border: 1px solid #333;
                    margin-top: 25px;
                    border-radius: 3px;
                    transition: all linear .3s;

                    :hover{
                        background: #454242;
                    }
                }
            }


            .store_time{
                h3{
                    color: #444;
                    font-size: 18px;
                    font-family: 'Poppins', sans-serif;
                    padding-top: 10px;
                    padding-bottom: 8px;
                    margin-bottom: 12px;
                    margin-top: 42px;
                    border-bottom: 1px solid #dbcdcd;
                    position: relative;

                    &::after {
                        position: absolute;
                        content: "";
                        left: 0;
                        bottom: -2px;
                        width: 142px;
                        height: 2px;
                        background: #000;
                    }
                }

                p{
                    color: #464444;
                    font-size: 14px;
                    line-height: 24px;

                    span{
                        font-weight: 700;
                        color: #999;
                    }
                }
            }


            .best_selling{
                h3{
                    color: #444;
                    font-size: 18px;
                    font-family: 'Poppins', sans-serif;
                    padding-top: 10px;
                    padding-bottom: 8px;
                    margin-bottom: 12px;
                    margin-top: 42px;
                    border-bottom: 1px solid #dbcdcd;
                    position: relative;

                    &::after {
                        position: absolute;
                        content: "";
                        left: 0;
                        bottom: -2px;
                        width: 142px;
                        height: 2px;
                        background: #000;
                    }
                }

                .row{
                    .kitchen_cont{
                        h4{
                            margin-top: 30px;
                            margin-bottom: 10px;
                            font-size: 14px;
                            color: #333;
                            font-family: 'Poppins', sans-serif;
                        }

                        p{
                            i{
                                color: #b8b4b4;
                                font-size: 13px;
                            }

                            i.org{
                                color: #f46c0a;
                                font-size: 13px;
                            }
                        }
                    }
                }
            }






        }











        .col-lg-9{
            .row{
                .col{
                    .store_banner{
                        position: relative;
                        img{
                            border-radius: 3px;
                        }

                        .store_banner_overlay{
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 380px;
                            height: 100%;
                            background: rgba(0, 0, 0, 0.605);
                            border-top-left-radius: 3px;
                            border-bottom-left-radius: 3px;
                            padding: 50px;

                            img{
                                border-radius: 50%;
                            }

                            h3{
                                color: #fff;
                                font-size: 20px;
                                font-family: 'Poppins', sans-serif;
                                font-weight: 700;
                                padding-top: 20px;
                                margin-bottom: 20px;
                            }

                            p{
                                font-size: 14px;
                                font-family: 'Poppins', sans-serif;
                                color: #fff;
                                line-height: 24px;

                                span{
                                    display: block;
                                    margin-top: 10px;
                                }
                            }

                            ul{
                                margin-top: 30px;
                                
                                
                                li{
                                    height: 32px;
                                    width: 40px;
                                    border: 1px solid #fff;
                                    border-radius: 50%;
                                    margin-right: 15px;
                                    text-align: center;
                                    line-height: 32px;
                                    transition: all linear .3s;
                                    &:hover{
                                        background: #1b4f9b;
                                        border-color: #1b4f9b;;
                                    }

                                    a{
                                        color: #fff;
                                    }
                                }
                            }
                        }

                    }
                }
            }


            .row{
                .col{
                    .products{
                        padding: 20px 10px;
                        border: 1px solid #dbcdcd;
                        h4{
                            font-size: 16px;
                            color: #413d3d;
                            font-family: var($ff1);
                            font-weight: 700;
                        }
                    }
                }
            }


            .row{
                display: flex;
                justify-content: space-between;
                .col-lg-4{
                    .input_search{
                        input{
                            width: 204px;
                            height: 40px;
                            padding-left: 20px;
                            border: 1px solid #807e7e;
                        }

                        button{
                            width: 33%;
                            height: 40px;
                            background: #dd3b0f;
                            border: 1px solid #ca360e;
                            margin-left: -5px;
                            box-sizing: border-box;
                            color: #fff;
                        }
                    }
                }

                .col-lg-4{
                    .option{

                        select{
                            width: 100%;
                            height: 40px;
                            padding-left: 10px;
                            color: #807e7e;
                            border: 1px solid #807e7e;
                            background: #fff;
                            border-radius: 3px;
                            
                            &:hover{
                                background: #fff;
                            }
                        }
                    }
                }

            }


            .row{
                .col-lg-4{
                    .secondary-col {
                        background: #fff;
                
                        .goods {
                            position: relative;
                
                            &:hover {
                                .goods-overly {
                                    opacity: 1;
                
                                    .des-icon {
                                        bottom: 10px;
                                    }
                                }
                            }
                
                            .goods-overly {
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                left: 0;
                                top: 0;
                                transition: all linear .3s;
                                opacity: 0;
                
                                .des-icon {
                                    position: absolute;
                                    left: 50%;
                                    bottom: 0;
                                    width: 100%;
                                    transform: translateX(-50%);
                                    text-align: center;
                                    margin: 0 auto;
                                    width: 180px;
                                    padding: 10px;
                                    box-shadow: 3px 3px 3px grey;
                                    transition: all linear .3s;
                
                                    ul {
                
                                        li {
                                            a {
                                                font-size: 20px;
                                                margin: 0 6px;
                                                color: $p;
                                                transition: all linear .3s;
                
                                                &:hover {
                                                    color: $ho;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                
                        .descript {
                            padding: 20px 0;
                            position: relative;
                
                            .des-price {
                                margin-top: 20px;
                
                                h5 {
                                    @include fs($h, 13px, 500, $ff1);
                                    margin-bottom: 15px;
                                    margin-top: 15px;
                                    transition: all linear .3s;
                
                                    &:hover {
                                        color: $ho;
                                        cursor: pointer;
                                    }
                                }
                
                                p {
                                    &:hover:after {
                                        opacity: 1;
                                        visibility: visible;
                                        cursor: pointer;
                                    }
                
                                    &:hover:before {
                                        opacity: 1;
                                        visibility: visible;
                                        cursor: pointer;
                                    }
                
                                    position: relative;
                
                                    &:after {
                                        position: absolute;
                                        content: '4.00';
                                        left: 68px;
                                        top: -55px;
                                        padding: 0 6px;
                                        height: 40px;
                                        background: $h;
                                        color: #fff;
                                        line-height: 40px;
                                        transition: all linear .3s;
                                        opacity: 0;
                                        visibility: hidden;
                                    }
                
                                    &:before {
                                        position: absolute;
                                        content: '';
                                        left: 80px;
                                        top: -23px;
                                        width: 15px;
                                        height: 15px;
                                        background: $h;
                                        transform: rotate(45deg);
                                        transition: all linear .3s;
                                        opacity: 0;
                                        visibility: hidden;
                                    }
                
                                    color: $p;
                
                                    .star-last {
                                        color: #aaa;
                                        margin-right: 5px;
                                        margin-bottom: 15px;
                                    }
                
                                    .star-all {
                                        color: #aaa;
                                        margin-right: 5px;
                                        margin-bottom: 15px;
                
                                    }
                
                                    span {
                                        transition: all linear .3s;
                
                                        &:hover {
                                            color: $ho;
                                            cursor: pointer;
                                        }
                                    }
                                }
                
                                .extra-p {
                                    &:hover:after {
                                        opacity: 1;
                                        visibility: visible;
                                        cursor: pointer;
                                    }
                
                                    &:hover:before {
                                        opacity: 1;
                                        visibility: visible;
                                        cursor: pointer;
                                    }
                
                                    position: relative;
                
                                    &:after {
                                        position: absolute;
                                        content: '0';
                                        left: 78px;
                                        top: -55px;
                                        padding: 0 6px;
                                        height: 40px;
                                        background: $h;
                                        color: #fff;
                                        line-height: 40px;
                                        opacity: 0;
                                        visibility: hidden;
                                        transition: all linear .3s;
                                    }
                
                                    &:before {
                                        position: absolute;
                                        content: '';
                                        left: 81px;
                                        top: -23px;
                                        width: 15px;
                                        height: 15px;
                                        background: $h;
                                        transform: rotate(45deg);
                                        opacity: 0;
                                        visibility: hidden;
                                        transition: all linear .3s;
                                    }
                                }
                
                                h3 {
                                    @include fs($h, 16px, 700, $ff1);
                                    margin-bottom: 5px;

                                    .jhapsa{
                                        color: #aaa;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    
    }


}

/*===============================
      dokan store area end
===============================*/