@import '../variables/variables';
@import '../mixins/mixins';

// ====================================//
// =========== gift area start ========//
// ====================================//

#gift {
    margin-top: 60px;

    .gift_row{
        .col_lg{
            width: 18.6%;
            .primary-col {
                background: #fff;
                padding: 30px;
        
                h3 {
                    @include fs($h, 20px, 700, $ff1);
                    margin-bottom: 20px;
                }
        
                h4 {
                    a {
                        @include fs($p, 14px, 400, $ff1);
                        margin-bottom: 15px;
                        transition: all linear .3s;
        
                        &:hover {
                            color: $ho;
                        }
                    }
                }
        
                .brows {
                    margin-top: 38px;
        
                    a {
                        @include fs($h, 14px, 700, $ff1);
                        text-transform: uppercase;
                        position: relative;
        
                        &:after {
                            position: absolute;
                            content: '';
                            right: 0;
                            bottom: 0;
                            width: 0%;
                            height: 3px;
                            background: $h;
                            transition: all linear .3s;
                        }
        
                        &:hover:after {
                            width: 100%;
                            left: 0;
                            right: auto;
                        }
                    }
                }
            }
        
            .secondary-col {
                background: #fff;
        
                .goods {
                    position: relative;
        
                    &:hover {
                        .goods-overly {
                            opacity: 1;
        
                            .des-icon {
                                bottom: 10px;
                            }
                        }
                    }
        
                    .goods-overly {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        left: 0;
                        top: 0;
                        transition: all linear .3s;
                        opacity: 0;
        
                        .des-icon {
                            position: absolute;
                            left: 50%;
                            bottom: 0;
                            width: 100%;
                            transform: translateX(-50%);
                            text-align: center;
                            margin: 0 auto;
                            width: 180px;
                            padding: 10px;
                            box-shadow: 3px 3px 3px grey;
                            transition: all linear .3s;
        
                            ul {
        
                                li {
                                    a {
                                        font-size: 20px;
                                        margin: 0 6px;
                                        color: $p;
                                        transition: all linear .3s;
        
                                        &:hover {
                                            color: $ho;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
        
                .descript {
                    padding: 20px 0;
                    position: relative;
        
                    &:hover.prac-overly {
                        opacity: 1;
                    }
        
                    .des-price {
                        margin-top: 20px;
        
                        h5 {
                            @include fs($h, 13px, 500, $ff1);
                            margin-bottom: 15px;
                            margin-top: 15px;
                            transition: all linear .3s;
        
                            &:hover {
                                color: $ho;
                                cursor: pointer;
                            }
                        }
        
                        p {
                            &:hover:after {
                                opacity: 1;
                                visibility: visible;
                                cursor: pointer;
                            }
        
                            &:hover:before {
                                opacity: 1;
                                visibility: visible;
                                cursor: pointer;
                            }
        
                            position: relative;
        
                            &:after {
                                position: absolute;
                                content: '4.00';
                                left: 68px;
                                top: -55px;
                                padding: 0 6px;
                                height: 40px;
                                background: $h;
                                color: #fff;
                                line-height: 40px;
                                transition: all linear .3s;
                                opacity: 0;
                                visibility: hidden;
                            }
        
                            &:before {
                                position: absolute;
                                content: '';
                                left: 80px;
                                top: -23px;
                                width: 15px;
                                height: 15px;
                                background: $h;
                                transform: rotate(45deg);
                                transition: all linear .3s;
                                opacity: 0;
                                visibility: hidden;
                            }
        
                            color: $p;
        
                            .star-last {
                                color: #aaa;
                                margin-right: 5px;
                                margin-bottom: 15px;
                            }
        
                            .star-all {
                                color: #aaa;
                                margin-right: 5px;
                                margin-bottom: 15px;
        
                            }
        
                            span {
                                transition: all linear .3s;
        
                                &:hover {
                                    color: $ho;
                                    cursor: pointer;
                                }
                            }
                        }
        
                        .extra-p {
                            &:hover:after {
                                opacity: 1;
                                visibility: visible;
                                cursor: pointer;
                            }
        
                            &:hover:before {
                                opacity: 1;
                                visibility: visible;
                                cursor: pointer;
                            }
        
                            position: relative;
        
                            &:after {
                                position: absolute;
                                content: '0';
                                left: 78px;
                                top: -55px;
                                padding: 0 6px;
                                height: 40px;
                                background: $h;
                                color: #fff;
                                line-height: 40px;
                                opacity: 0;
                                visibility: hidden;
                                transition: all linear .3s;
                            }
        
                            &:before {
                                position: absolute;
                                content: '';
                                left: 81px;
                                top: -23px;
                                width: 15px;
                                height: 15px;
                                background: $h;
                                transform: rotate(45deg);
                                opacity: 0;
                                visibility: hidden;
                                transition: all linear .3s;
                            }
                        }
        
                        h3 {
                            @include fs($h, 16px, 700, $ff1);
                            margin-bottom: 5px;
                        }
                    }
                }
            }
        }
    }
}


// ====================================//
// =========== gift area end ==========//
// ====================================//