$h: #333;
$p: #666;
$ho: #f14242;
$wh: #fff;
$body:#F8F8F8;
$bl_hov:#336699;
$discount:#1cbcd0;
$line:#e7e7e7;
$border: #f7f7f7;
$gray:#BEBEBF;
$ff1: 'Poppins', sans-serif;
$ff2: 'Yellowtail', cursive;
$tr: all linear .3s;
$star:#FF9933;